@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #C1C700, #8f9235);
    
}

main{
    background-color: aliceblue;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 5px #CBCD4E ;
    
}
 p{
    text-align: justify;
 }
 h1{color:#ED4800 ;
    text-align: center;
    text-shadow:2px 2px 2px #ED4800;

 }
 h2{color: #8f9235;

 }

